<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>kjsbvidhoig</title>
    <!-- <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script> -->
    <script crossorigin src="lib/react.development.js"></script>
    <script crossorigin src="lib/react-dom.development.js"></script>
    <script src="lib/babel.min.js"></script>
    <style media="screen" src="css/custom.css">
    .test123{
      border: 1px solid #333;
    }
    .mauvang{
      background-color: yellow;
    }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <script src="xuly.js" type="text/babel"></script>
  </body>
</html>
